html {
  min-height: 100%;
}
body {
  background: linear-gradient(45deg, skyblue, white);
  margin: 0 5% 0 5%;
}

.navbar-brand {
  font-size: 2rem;
  margin: 10px 50px 10px 50px;
  text-transform: uppercase;
}

.navbar .nav-item:hover .nav-link {
  color: #fff;
  text-decoration: underline;
}
.navbar .nav-link {
  text-transform: uppercase;
  color: #000;
}
.navbar-nav {
  flex-wrap: wrap;
}
.navbar a {
  /* display: block; */
  font-size: 1rem;
  margin: 10px 50px 10px 50px;
  text-transform: uppercase;
  text-shadow: #fc0 1px 0 10px;
}
.navbar-container .container-fluid {
  --bs-gutter-x: 0;
  margin: 0 5% 0 5%;
}

.navbar-brand {
  text-shadow: #fc0 1px 0 10px;
}
.row .img-fluid {
  padding: 1rem 1rem 1rem 1rem;
  background-color: #fff;
}
.row .figure-caption {
  background-color: #fff;
  padding: 20px;
}

.figure a {
  padding: 0;
}
.date-group {
  width: 25%;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  align-content: center;
  display: flex;
  justify-content: center;
}
.flex-fill {
  max-width: 75%;
  font-size: 2rem;
  align-content: center;
  display: flex;
  justify-content: center;
}
.hobby {
  max-width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.hobby div {
  font-size: 3rem;
}
/* .my-hobby {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */
.col-3 .d-flex {
  display: flex;
  justify-content: center;
}

.figure {
}
/* .figure:hover {
  transform: scale(1.1);
} */

p {
  font-size: 17px;
  align-items: center;
}
.box a {
  display: inline-block;
  background-color: orange;
  padding: 15px;
  border-radius: 3px;
  color: black;
  text-decoration: none;
}
.modal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}
.content {
  position: absolute;
  background: white;
  width: 50%;
  padding: 1em 2em;
  border-radius: 4px;
}
.modal:target {
  visibility: visible;
  opacity: 1;
}
.box-close {
  position: absolute;
  top: 0;
  right: 15px;
  color: #fe0606;
  text-decoration: none;
  font-size: 12px;
}
