html {
  min-height: 100%;
}
body {
  background: linear-gradient(45deg, skyblue, white);
  margin: 0 5% 0 5%;
}
.navbar-brand {
  font-size: 2rem;
  margin: 10px 50px 10px 50px;
  text-transform: uppercase;
}

.navbar .nav-item:hover .nav-link {
  color: #fff;
  text-decoration: underline;
}
.navbar .nav-link {
  text-transform: uppercase;
  color: #000;
}
.navbar-nav {
  flex-wrap: wrap;
}
.navbar a {
  /* display: block; */
  font-size: 1rem;
  margin: 10px 50px 10px 50px;
  text-transform: uppercase;
  text-shadow: #fc0 1px 0 10px;
}
.navbar-container .container-fluid {
  --bs-gutter-x: 0;
  margin: 0 5% 0 5%;
}

.navbar-brand {
  text-shadow: #fc0 1px 0 10px;
}
.row .img-fluid {
  padding: 1rem 1rem 4rem 1rem;
  background-color: #fff;
}
.row .figure-caption {
  background-color: #fff;
  padding: 20px;
}

.figure a {
  padding: 0;
}
.date-group {
  width: 25%;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  align-content: center;
  display: flex;
  justify-content: center;
}
.flex-fill {
  max-width: 75%;
  font-size: 2rem;
  align-content: center;
  display: flex;
  justify-content: center;
}
.hobby {
  max-width: 100%;

  align-content: center;
  display: flex;
  justify-content: center;
}

.hobby div {
  font-size: 3rem;
}

.first-container .row .my-bobby .img-fluid {
  width: 800px;
  height: 800px;
}
