body {
  background: linear-gradient(45deg, skyblue, white);
  margin: 0 5% 0 5%;
}
.navbar-brand {
  font-size: 2rem;
  margin: 10px 50px 10px 50px;
  text-transform: uppercase;
}

.navbar .nav-item:hover .nav-link {
  color: #fff;
  text-decoration: underline;
}
.navbar .nav-link {
  text-transform: uppercase;
  color: #000;
}
.navbar-nav {
  flex-wrap: wrap;
}
.navbar a {
  /* display: block; */
  font-size: 1rem;
  margin: 10px 50px 10px 50px;
  text-transform: uppercase;
}
.navbar-container .container-fluid {
  --bs-gutter-x: 0;
  margin: 0 5% 0 5%;
}

.whatsapp,
.tg {
  font-size: 3rem;
}

.whatsapp .btn {
  background-color: #25d366;
  font-size: 3rem;
  text-decoration: none;
  padding: auto;
  border-radius: 20px;
}
.tg .btn {
  background-color: white;
  color: black;
  font-size: 3rem;
  text-decoration: none;
  padding: auto;
  border-radius: 20px;
}

.fb .btn {
  background-color: #4267b3;
  color: white;
  font-size: 3rem;
  text-decoration: none;
  padding: auto;
  border-radius: 20px;
}

.ig .btn {
  background-image: linear-gradient(
    to right top,
    #dcc91f,
    #e5b100,
    #ec9800,
    #f17d00,
    #f45e01,
    #fa4826,
    #fc2e3c,
    #fb0050,
    #f80071,
    #e5009a,
    #ba00c7,
    #5812f3
  );
  color: white;
  font-size: 3rem;
  text-decoration: none;
  padding: auto;
  border-radius: 20px;
  border: 0;
}
