body {
  background: linear-gradient(45deg, skyblue, white);
}

.container-fluid {
  --bs-gutter-x: 0;
}
.navbar .nav-item:hover {
  background: #353535;
  box-shadow: inset 0 0 15px #000;
}
.navbar .nav-item:hover .nav-link {
  color: #fff;
  text-decoration: underline;
}
.navbar .nav-link {
  text-transform: uppercase;
  color: #000;
}
.navbar-nav {
  flex-wrap: wrap;
}
.navbar a {
  display: block;
  font-size: 1rem;
  padding: 20px 50px 20px 50px;
  text-transform: uppercase;
}
.navbar-container .container-fluid {
  --bs-gutter-x: 0;
  margin: 0 5% 0 5%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.start-container button {
  border: 0;
  border-radius: 10px;
  padding: 3px 30% 3px 30%;
  margin: 20px;
}

#start {
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#stop {
  background-color: lightcoral;
  color: #fff;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#reset {
  background-color: gray;
  color: white;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
