html {
  min-height: 100%;
}
body {
  background: linear-gradient(45deg, skyblue, white);
  background: cover;
}

.container-fluid {
  --bs-gutter-x: 0;
}

.navbar-brand {
  font-size: 2rem;
  margin: 10px 50px 10px 50px;
  text-transform: uppercase;
}

.navbar .nav-item:hover .nav-link {
  color: #fff;
  text-decoration: underline;
}
.navbar .nav-link {
  text-transform: uppercase;
  color: #000;
}
.navbar-nav {
  flex-wrap: wrap;
}
.navbar a {
  /* display: block; */
  font-size: 1rem;
  margin: 10px 50px 10px 50px;
  text-transform: uppercase;
}
.navbar-container .container-fluid {
  --bs-gutter-x: 0;
  margin: 0 5% 0 5%;
}

.start-container button {
  border: 0;
  border-radius: 10px;
  padding: 3px 30% 3px 30%;
  margin: 20px;
}

#start {
  background-color: skyblue;
  color: #fff;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#stop {
  background-color: lightcoral;
  color: #fff;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#reset {
  background-color: gray;
  color: white;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#resize {
  background-color: rgb(67, 163, 48);
  color: white;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#reset-value {
  background-color: lightgray;
  color: white;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 10px;
  padding: 3px 30% 3px 30%;
  margin: 20px;
}

h1,
h2 {
  text-shadow: #fc0 1px 0 10px;
}

#penColorInput {
  align-content: center;
}

.music-btn {
  font-size: 2rem;
  border: 0;
  border-radius: 10px;
  padding: 3px 30% 3px 30%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
